.dash-layout {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}
.page {
	width: 100vw;
	/* width: 100%; */
	/* height: 100%; */
	/* height: 100vh; */
}

/* .dash-layout {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'sidebar' 'main';
} */

@media only screen and (max-width: 550px) {
	/* .dash-layout {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'sidebar' 'main';
	} */
	.content-container {
		width: 100%;
	}
	.dash-layout {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.dashboard-page {
		display: block;
	}
	.sidebar {
		/* height: auto !important; */
		min-height: 100px;
		width: 100%;
	}
	.h-screen {
		height: auto;
	}
	.sidebar-userinfo {
		display: none;
	}
	.stat-block {
		flex-direction: column;
		align-items: center;
	}
	.stat-block .card {
		width: 90%;
		/* height: 250px; */
	}
	.profile-header {
		flex-direction: column;
		gap: 30px;
	}
	.ref-link {
		width: 100%;
		padding: 35px 10px;
	}
}
