/* prettier-ignore */
/* .content-container {
	background: #fbfbfb;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5fr;
	grid-template-areas:
		'header'
		'main' 
		;
} */
.content-container {
	display: flex;
	flex-direction: column;
	/* background: #fbfbfb; */
	/* background-color: rgba(205, 205, 205, 0.5); */
	/* background-color: rgb(29, 161, 242, 0.2); */
	flex: 2;
}

.outlet-wrapper {
	display: flex;
	flex-direction: column;
	/* flex: 3; */
	/* grid-area: main; */
}
